{% extends "base_site.html" %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{% static 'dashboard/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>{{table_title}}<small></small></h3>
        </div>

        <div class="title_right">
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              
              <ul class="nav navbar-right">   
                {% if not readonly %}
                    <li><a data-wizard-type="action-new"><i class="pointer fa fa-plus"></i></a></li>
                {% endif %}
              </ul>
              
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table id="datatable" class="table table-striped jambo_table bulk_action hover {% if not readonly%}table-editing{% endif %}">
                <thead>
                  <tr>{% block  html_init_head_datatable %}{% endblock %}
                    {% if not readonly %}
                        <th></th> 
                    {% endif %}
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% include 'included/modal_form.html'  with form_in_modal=form %}
{% include 'included/modal_window.html' %}
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Datatables -->
  <script src="{% static 'dashboard/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'dashboard/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/jszip/dist/jszip.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
  <script src="{% static 'dashboard/vendors/pdfmake/build/vfs_fonts.js' %}"></script>

  <script type="text/javascript">
    

    {% block js_init_datatable %}
        var data_ajax_url = "{{data_ajax_url}}";
        var url_lang = "{% static 'dashboard/vendors/datatables.net/Russian.lang' %}";
        var url_source = "{{request.path}}";
        var columns_datatable = {%block js_init_columns_datatable %}[]{% endblock%}
        var readonly = {{readonly|lower}}
    {% endblock %}
    
  </script>
  <script src="{% static 'dashboard/build/js/data_table_actions.js' %}" type="text/javascript"></script>  
{% endblock javascripts %}
