      <!-- Start to do list -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Не зарегистрированные устройства<small></small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="">
              <ul id='unknow_cliets'class="to_do">

                <li v-for="(item, index) in items">
                  <p><a href="">${item}$</a></p>
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End to do list -->